
@font-face {
    font-family: 'Harabara';
    src: url('../fonts/Harabara.eot');
    src: url('../fonts/Harabara.eot?#iefix') format('embedded-opentype'), url('../fonts/Harabara.woff') format('woff'), url('../fonts/Harabara.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'LoveloLine';
    src: url('../fonts/LoveloLineBold.eot');
    src: url('../fonts/LoveloLineBold.eot?#iefix') format('embedded-opentype'), url('../fonts/LoveloLineBold.woff') format('woff'), url('../fonts/LoveloLineBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'LoveloLine';
    src: url('../fonts/LoveloLineLight.eot');
    src: url('../fonts/LoveloLineLight.eot?#iefix') format('embedded-opentype'), url('../fonts/LoveloLineLight.woff') format('woff'), url('../fonts/LoveloLineLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lovelo';
    src: url('../fonts/LoveloBlack.eot');
    src: url('../fonts/LoveloBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/LoveloBlack.woff') format('woff'), url('../fonts/LoveloBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'PrivaOnePro';
    src: url('../fonts/PrivaOnePro.eot');
    src: url('../fonts/PrivaOnePro.eot?#iefix') format('embedded-opentype'), url('../fonts/PrivaOnePro.woff') format('woff'), url('../fonts/PrivaOnePro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}