////// NAVICON BEGIN
.navicon(@width: 30px, @height: 5px, @gutter: 3px, @color: #000, @border-radius: 0, @transition-duration: .3s) {
  @navicon-height: @height;
  @navicon-gutter: @gutter;
  position: relative;
  margin-top: @height + @gutter;
  margin-bottom: @height + @gutter;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &, &:before, &:after {
    display: block;
    width: @width;
    height: @height;
    background-color: @color;
    border-radius: @border-radius;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: @transition-duration;
    transition-duration: @transition-duration;
  }
  &:before, &:after {
    position: absolute;
    content: "";
  }
  &:before {
    top: -(@height + @gutter);
  }
  &:after {
    top: @height + @gutter;
  }
}

.navicon-parts(@rules) {
  &, &:before, &:after {
    @rules();
  }
}

.navicon-top(@rules) {
  &:before {
    @rules();
  }
}

.navicon-middle(@rules) {
  & {
    @rules();
  }
}

.navicon-bottom(@rules) {
  &:after {
    @rules();
  }
}

.navicon-to-cross(@width: 30px, @height: 5px, @gutter: 3px, @color: #000, @border-radius: 0, @transition-duration: .3s) {
  @navicon-height: @height;
  @navicon-gutter: @gutter;
  & {
    background-color: transparent;
  }
  &:before, &:after {
    background-color: @color;
    border-radius: @border-radius;
  }
  &:before {
    -webkit-transform: translateY(@navicon-gutter + @navicon-height) rotate(45deg);
    transform: translateY(@navicon-gutter + @navicon-height) rotate(45deg);
  }
  &:after {
    -webkit-transform: translateY(-(@navicon-gutter + @navicon-height)) rotate(-45deg);
    transform: translateY(-(@navicon-gutter + @navicon-height)) rotate(-45deg);
  }
}

////// NAVICON END
//////////////////
////// RULES BEGIN
.selection(@rules) {
  &::-webkit-selection {
    @rules();
  }
  &::-moz-selection {
    @rules();
  }
  &::selection {
    @rules();
  }
}

.readonly(@rules) {
  &:read-only {
    @rules();
  }
  &:-moz-read-only {
    @rules();
  }
  &[readonly] {
    @rules();
  }
  &[readonly="readonly"] {
    @rules();
  }
}

.placeholder(@rules) {
  input::-webkit-input-placeholder {
    @rules();
  }
  input:-moz-placeholder {
    @rules();
  }
  input::-moz-placeholder {
    @rules();
  }
  input:-ms-input-placeholder {
    @rules();
  }
}
////// RULES END /////
//////////////////////
////// MISC BEGIN ////
.transform(@transformation) {
  -webkit-transform: @transformation;
  transform: @transformation;
}

.translate3d(@x: 0, @y: 0, @z: 0) {
  -webkit-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}

.translate(@x: 0, @y: 0) {
  -webkit-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

.scale(@amount) {
  -webkit-transform: scale(@amount);
  transform: scale(@amount);
}


.middle() {
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  & > * {
    vertical-align: middle;
    display: inline-block;
  }
}

.inlinebox() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  & > * {
    white-space: normal;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    &:before, &:after {
      white-space: normal;
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}

.tablebox() {
  display: table;
  width: 100%;
  & > * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.lightflex() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gradient-v (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.gradient-h (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}
