.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
    @supports (-ms-overflow-style: none) {
        overflow: auto !important;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        overflow: auto !important;
    }
    &.ps-active-x > .ps-scrollbar-x-rail, &.ps-active-y > .ps-scrollbar-y-rail {
        display: block;
        background-color: transparent;
    }
    &.ps-in-scrolling {
        &.ps-x > .ps-scrollbar-x-rail {
            background-color: #eee;
            opacity: 0.9;
            & > .ps-scrollbar-x {
                background-color: #999;
                height: 11px;
            }
        }
        &.ps-y > .ps-scrollbar-y-rail {
            background-color: #eee;
            opacity: 0.9;
            & > .ps-scrollbar-y {
                background-color: #999;
                width: 11px;
            }
        }
        @media @desk {
            &:hover.ps-x > .ps-scrollbar-x-rail {
                background-color: #eee;
                opacity: 0.9;
                & > .ps-scrollbar-x {
                    background-color: #999;
                    height: 11px;
                }
            }
            &:hover.ps-y > .ps-scrollbar-y-rail {
                background-color: #eee;
                & > .ps-scrollbar-y {
                    background-color: #999;
                    width: 11px;
                }
            }
        }
    }
    & > .ps-scrollbar-x-rail {
        display: none;
        position: absolute;
        opacity: 0;
        -webkit-transition: background-color .2s linear, opacity .2s linear;
        -o-transition: background-color .2s linear, opacity .2s linear;
        -moz-transition: background-color .2s linear, opacity .2s linear;
        transition: background-color .2s linear, opacity .2s linear;
        bottom: 0px;
        height: 15px;
        & > .ps-scrollbar-x {
            position: absolute;
            background-color: #aaa;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
            transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
            -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
            -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
            transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
            transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
            bottom: 2px;
            height: 6px;
        }
        @media @desk {
            &:hover > .ps-scrollbar-x, &:active > .ps-scrollbar-x {
                height: 11px;
            }
        }
    }
    & > .ps-scrollbar-y-rail {
        display: none;
        position: absolute;
        opacity: 0;
        -webkit-transition: background-color .2s linear, opacity .2s linear;
        -o-transition: background-color .2s linear, opacity .2s linear;
        -moz-transition: background-color .2s linear, opacity .2s linear;
        transition: background-color .2s linear, opacity .2s linear;
        right: 0;
        width: 15px;
        & > .ps-scrollbar-y {
            position: absolute;
            background-color: #aaa;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
            transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
            -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
            -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
            transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
            transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
            right: 2px;
            width: 6px;
        }
        @media @desk {
            &:hover > .ps-scrollbar-y, &:active > .ps-scrollbar-y {
                width: 11px;
            }
        }
    }
    @media @desk {
        &:hover {
            & > .ps-scrollbar-x-rail, & > .ps-scrollbar-y-rail {
                opacity: 0.6;
            }
            & > .ps-scrollbar-x-rail:hover {
                background-color: #eee;
                opacity: 0.9;
                & > .ps-scrollbar-x {
                    background-color: #999;
                }
            }
            & > .ps-scrollbar-y-rail:hover {
                background-color: #eee;
                opacity: 0.9;
                &:hover > .ps-scrollbar-y {
                    background-color: #999;
                }
            }
        }
    }
}