@sel-font-family: inherit;
@sel-font-smoothing: inherit;
@sel-font-size: 13px;
@sel-line-height: 18px;

@sel-col-text: #303030;
@sel-col-border: #d0d0d0;
@sel-col-highlight: rgba(125,168,208,0.2);
@sel-col-input: #fff;
@sel-col-input-full: @sel-col-input;
@sel-col-disabled: #fafafa;
@sel-col-item: #f2f2f2;
@sel-col-item-text: @sel-col-text;
@sel-col-item-border: #d0d0d0;
@sel-col-item-active: #e8e8e8;
@sel-col-item-active-text: @sel-col-text;
@sel-col-item-active-border: #cacaca;
@sel-col-dropdown: #fff;
@sel-col-dropdown-border: @sel-col-border;
@sel-col-dropdown-border-top: #f0f0f0;
@sel-col-dropdown-item-active: #f5fafd;
@sel-col-dropdown-item-active-text: #495c68;
@sel-col-dropdown-item-create-text: rgba(red(@sel-col-text), green(@sel-col-text), blue(@sel-col-text), 0.5);
@sel-col-dropdown-item-create-active-text: @sel-col-dropdown-item-active-text;
@sel-col-optgroup: @sel-col-dropdown;
@sel-col-optgroup-text: @sel-col-text;
@sel-lighten-disabled-item: 30%;
@sel-lighten-disabled-item-text: 30%;
@sel-lighten-disabled-item-border: 30%;
@sel-opacity-disabled: 0.5;

@sel-shadow-input: inset 0 1px 1px rgba(0,0,0,0.1);
@sel-shadow-input-focus: inset 0 1px 2px rgba(0,0,0,0.15);
@sel-border: 1px solid @sel-col-border;
@sel-dropdown-border: 1px solid @sel-col-dropdown-border;
@sel-border-radius: 3px;

@sel-width-item-border: 0;
@sel-max-height-dropdown: 200px;

@sel-padding-x: 8px;
@sel-padding-y: 8px;
@sel-padding-item-x: 6px;
@sel-padding-item-y: 2px;
@sel-padding-dropdown-item-x: @sel-padding-x;
@sel-padding-dropdown-item-y: 5px;
@sel-margin-item-x: 3px;
@sel-margin-item-y: 3px;

@sel-arrow-size: 5px;
@sel-arrow-color: #808080;
@sel-arrow-offset: 15px;

@sel-caret-margin: 0 2px 0 0;
@sel-caret-margin-rtl: 0 4px 0 -2px;

.selectize-border-radius (@radii) {
	-webkit-border-radius: @radii;
	-moz-border-radius: @radii;
	border-radius: @radii;
}
.selectize-unselectable () {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.selectize-box-shadow (@shadow) {
	-webkit-box-shadow: @shadow;
	box-shadow: @shadow;
}
.selectize-box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing: @type;
	box-sizing: @type;
}
.selectize-vertical-gradient (@color-top, @color-bottom) {
    background-color: mix(@color-top, @color-bottom, 60%);
    background-image: -moz-linear-gradient(top, @color-top, @color-bottom); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@color-top), to(@color-bottom)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @color-top, @color-bottom); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @color-top, @color-bottom); // Opera 11.10
    background-image: linear-gradient(to bottom, @color-top, @color-bottom); // Standard, IE10
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@color-top),argb(@color-bottom))); // IE9 and down
}

.selectize-control {
	position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	color: @sel-col-text;
	font-family: @sel-font-family;
	font-size: @sel-font-size;
	line-height: @sel-line-height;
	-webkit-font-smoothing: @sel-font-smoothing;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
	background: @sel-col-input;
	cursor: text;
	display: inline-block;
}

.selectize-input {
	border: @sel-border;
	padding: @sel-padding-y @sel-padding-x;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	.selectize-box-sizing(border-box);
	.selectize-box-shadow(@sel-shadow-input);
	.selectize-border-radius(@sel-border-radius);

	.selectize-control.multi &.has-items {
		@padding-x: @sel-padding-x;
		@padding-top: @sel-padding-y - @sel-padding-item-y - @sel-width-item-border;
		@padding-bottom: @sel-padding-y - @sel-padding-item-y - @sel-margin-item-y - @sel-width-item-border;
		padding: @padding-top @padding-x @padding-bottom;
	}

	&.full {
		background-color: @sel-col-input-full;
	}
	&.disabled, &.disabled * {
		cursor: default !important;
	}
	&.focus {
		.selectize-box-shadow(@sel-shadow-input-focus);
	}
	&.dropdown-active {
		.selectize-border-radius(@sel-border-radius @sel-border-radius 0 0);
	}

	> * {
		vertical-align: baseline;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
	.selectize-control.multi & > div {
		cursor: pointer;
		margin: 0 @sel-margin-item-x @sel-margin-item-y 0;
		padding: @sel-padding-item-y @sel-padding-item-x;
		background: @sel-col-item;
		color: @sel-col-item-text;
		border: @sel-width-item-border solid @sel-col-item-border;

		&.active {
			background: @sel-col-item-active;
			color: @sel-col-item-active-text;
			border: @sel-width-item-border solid @sel-col-item-active-border;
		}
	}
	.selectize-control.multi &.disabled > div {
		&, &.active {
			color: lighten(desaturate(@sel-col-item-text, 100%), @sel-lighten-disabled-item-text);
			background: lighten(desaturate(@sel-col-item, 100%), @sel-lighten-disabled-item);
			border: @sel-width-item-border solid lighten(desaturate(@sel-col-item-border, 100%), @sel-lighten-disabled-item-border);
		}
	}
	> input {
		&::-ms-clear {
			display: none;
		}
		display: inline-block !important;
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: @sel-caret-margin !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: none !important;
		line-height: inherit !important;
		-webkit-user-select: auto !important;
		.selectize-box-shadow(none) !important;
		&:focus { outline: none !important; }
	}
}

.selectize-input::after {
	content: ' ';
	display: block;
	clear: left;
}

.selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: @sel-col-dropdown-border-top;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
}

.selectize-dropdown {
	position: absolute;
	z-index: 10;
	border: @sel-dropdown-border;
	background: @sel-col-dropdown;
	margin: -1px 0 0 0;
	border-top: 0 none;
	.selectize-box-sizing(border-box);
	.selectize-box-shadow(0 1px 3px rgba(0,0,0,0.1));
	.selectize-border-radius(0 0 @sel-border-radius @sel-border-radius);

	[data-selectable] {
		cursor: pointer;
		overflow: hidden;
		.highlight {
			background: @sel-col-highlight;
			.selectize-border-radius(1px);
		}
	}
	[data-selectable], .optgroup-header {
		padding: @sel-padding-dropdown-item-y @sel-padding-dropdown-item-x;
	}
	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}
	.optgroup-header {
		color: @sel-col-optgroup-text;
		background: @sel-col-optgroup;
		cursor: default;
	}
	.active {
		background-color: @sel-col-dropdown-item-active;
		color: @sel-col-dropdown-item-active-text;
		&.create {
			color: @sel-col-dropdown-item-create-active-text;
		}
	}
	.create {
		color: @sel-col-dropdown-item-create-text;
	}
}

.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: @sel-max-height-dropdown;
}

.selectize-control.single .selectize-input {
	&, input { cursor: pointer; }
	&.input-active, &.input-active input { cursor: text; }

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 50%;
		right: @sel-arrow-offset;
		margin-top: round((-1 * @sel-arrow-size / 2));
		width: 0;
		height: 0;
		border-style: solid;
		border-width: @sel-arrow-size @sel-arrow-size 0 @sel-arrow-size;
		border-color: @sel-arrow-color transparent transparent transparent;
	}
	&.dropdown-active:after {
		margin-top: @sel-arrow-size * -0.8;
		border-width: 0 @sel-arrow-size @sel-arrow-size @sel-arrow-size;
		border-color: transparent transparent @sel-arrow-color transparent;
	}
}

.selectize-control.rtl {
	&.single .selectize-input:after {
		left: @sel-arrow-offset;
		right: auto;
	}
	.selectize-input > input {
		margin: @sel-caret-margin-rtl !important;
	}
}

.selectize-control .selectize-input.disabled {
	opacity: @sel-opacity-disabled;
	background-color: @sel-col-disabled;
}