//// GLOBALS
@bg: #efeeed;
@main: #e96724;
@text: #231f20;
@sec: #f9a03b;
@desk: ~"only screen and (min-width: 769px)";

//// TRANSITION
@dur-x-fast: 180ms;
@dur-fast: 220ms;
@dur-mid: 350ms;
@dur-slow: 500ms;
@dur-slower: 1000ms;
@dur-demo: 3500ms;
@ease-out-elastic: cubic-bezier(.31,.84,.73,1.06);
@ease-out-fast: cubic-bezier(.11,.73,.51,1);
@ease-out-slow: cubic-bezier(.27,.67,.65,1);
