////// GLOBAL VARS:
@import "less/vars.less";
////// MIXINS:
@import "less/mixins.less";
// @import "less/noui.less";
////// FONTS:
@import "less/fonts.css";
////// NORMALIZE:
@import "less/normalize.less";
////////////////////////////////
////// RAW ELEMENTS START //////
*, *:before, *:after {
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    border: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility!important;
    cursor: pointer;
    @media @desk {
        cursor: auto;
    }
}
html {
    font-size: 10px;
    background-color: @bg;
    font-family: 'AvenirLT';
    font-weight: bold;
    font-family: 'Gotham';
    font-weight: 500;
    font-weight: bold;
    font-family: 'Lovelo';
    font-family: 'LoveloLine';
    font-weight: 900;
    font-family: 'PrivaOnePro';
    font-weight: normal;
    font-weight: 300;
}
body {}
a {
    color: @main;
    text-decoration: none;
    &[href^=tel] {
        color: inherit;
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5 {
    @media @desk {}
}
h1 {
    // color: #fff;
    // font-size: 3rem;
    // line-height: 1.2;
    // @media @desk {
    //     font-size: 4.8rem;
    // }
}
h2 {
    font-size: 3rem;
    @media @desk {
        font-size: 3.6rem;
    }
}
h3 {
    // font-size: 3rem;
    // line-height: 1.2;
    // color: #25254e;
}
h5 {
    font-size: 2.4rem;
}
p {}
svg * {
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: @dur-fast;
    transition-duration: @dur-fast;
    -webkit-transition-timing-function: @ease-out-fast;
    transition-timing-function: @ease-out-fast;
    will-change: fill;
}
////// RAW ELEMENTS END ///////////////
///////////////////////////////////////
///////////////////////////////////////
///// LESS FOR JS PLUGINS START ///////
///// LESS FOR JS PLUGINS END /////////
///////////////////////////////////////
///////////////////////////////////////
////// GENERAL OBJECTS START //////////
.tx {
    &-wrap {
        max-width: 99rem;
        margin: 0 auto;
        position: relative;
    }
    &-btn {
        background-color: @main;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.7rem;
        padding: 1.2rem 2.1rem;
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
        border-radius: 0.9rem;
        // width: 100%;
        @media @desk {
            border-radius: 1rem;
            width: auto;
            font-size: 2.8rem;
            padding: 1.8rem 3rem;
        }
        * {
            cursor: pointer;
        }
    }
    &-app {
        color: @text;
        line-height: 1.2;
        font-size: 2.1rem;
        background-color: @bg;
        font-weight: 400;
        position: relative;
        letter-spacing: .05em;
        i {
            font-style: normal;
            color: @main;
        }
        b {
            font-weight: 800;
        }
        @media @desk {
            letter-spacing: .08em;
        }
    }
    &-page {
        overflow: hidden;
    }
    &-top {
        background-image: url('img/pattern.svg');
        padding-top: 7.6%;
        @media @desk {
            padding-top: 28.5%;
        }
    }
    &-intro {
        padding: 1rem 1rem 0;
        text-align: center;
        position: relative;
        @media @desk {
            padding: 3.1rem;
        }
        &__logos {
            font-size: 0;
            display: none;
            @media @desk {
                display: block;
            }
        }
        &__logo {
            display: inline-block;
            // vertical-align: baseline;
        }
        &__and {
            display: inline-block;
            vertical-align: top;
            font-weight: 700;
            font-family: 'Harabara';
            font-size: 6.9rem;
            margin: 0 1.7rem;
        }
        &__title {
            text-align: center;
            display: inline-block;
            max-width: 80%;
            height: auto;
            
            svg {
                width: 100%;
                height: 100%;
            }

            @media @desk {
                vertical-align: middle;
                padding: 1rem;
                font-size: 5.2rem;
            }
        }
        &__title-svg {
            display: inline-block;
            vertical-align: top;
            vertical-align: middle;
            height: 1.8rem;
            width: 4rem;
            // display: none;
            @media @desk {
                height: 6.1rem;
                width: 17.1rem;
            }
            svg {
                width: 100%;
                height: 100%;
                display: inline-block;
            }
        }
        &__actions {
            text-align: center;
            padding: 0.7rem 0 1.5rem;
            @media @desk {
                padding: 0;
                position: absolute;
                bottom: 2.9rem;
                right: 0;
                left: 40.2%;
            }
        }
        &__btn {}
        &__img {
            margin-left: 1.9rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 00% 0%;
            padding: 73.8% 0 0 0;
            position: relative;
            @media @desk {
                background-position: 50% 50%;
                position: absolute;
                margin: 0;
                left: 7.8%;
                bottom: 0.3rem;
                padding: 37.7% 0 0 0;
                width: 36.6%;
            }
        }
        &__img-text {
            .translate3d(-50%, -50%);
            position: absolute;
            text-align: center;
            top: 42.9%;
            left: 49.7%;
            width: 11.9rem;
            font-size: 1.5rem;
            @media @desk {
                left: 64.4%;
                top: 42.8%;
                width: 50%;
                font-size: 2.5rem;
            }
        }
        &__slogan {
            padding: 0 0 0rem 32%;
            font-size: 1.6rem;
            color: #dc4f26;
            font-weight: 300;
            position: relative;
            top: -2rem;
            @media @desk {
                top: auto;
                padding: 3.3rem 0% 5.8rem 41.5%;
                font-size: 4.1rem;
            }
        }
    }
    &-guide {
        padding: 0 0.7rem 0 1.8rem;
        @media @desk {
            padding: 0 4.9rem;
        }
        &__title {
            margin: 0;
            padding: 0.1rem 0 1.4rem;
            line-height: 1.2;
            font-size: 1.2rem;
            @media @desk {
                padding: 3rem 0 1.4rem;
                font-size: 3rem;
            }
        }
        &__list {
            counter-reset: section;
            padding: 0;
            list-style-type: none;
            position: relative;
            margin: 0;
            padding: 0;
        }
        &__item {
            display: block;
            padding: 4.3rem 0 0 0rem;
            font-size: 0.8rem;
            position: relative;
            @media @desk {
                font-size: 2.1rem;
                padding: 1.4rem 1rem 1.4rem 6.2rem;
            }
            &:before {
                text-align: center;
                counter-increment: section;
                content: counters(section, "") " ";
                position: absolute;
                border-radius: 50%;
                background-color: @main;
                color: #fff;
                font-weight: 700;
                font-family: 'Harabara';
                left: 50%;
                top: 0.5rem;
                .translate3d(-1.2rem);
                border: solid 1px @text;
                width: 2.4rem;
                height: 2.4rem;
                font-size: 1.7rem;
                padding-top: 0.2rem;
                @media @desk {
                    padding-top: 0;
                    top: 50%;
                    left: 0;
                    font-size: 4rem;
                    .translate3d(0, -2.5rem);
                    border: solid 2px @text;
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
        &__text {
            font-size: 1rem;
            padding: 2.6rem 0 0rem;
            @media @desk {
                padding: 0;
                font-size: 2.1rem;
            }
        }
    }
    &-offers {
        padding: 0;
        @media @desk {
            padding: 1.7rem 0;
        }
        &__offer {
            position: relative;
            border-top: solid 1px @text;
            padding: 6.1rem 1rem 0.5rem 4.8%;
            @media @desk {
                padding: 1.4rem 1rem 4.3rem 20.9%;
                border-top: solid 4px @text;
            }
        }
        &__label {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 0%;
            background-image: url('img/badge.svg');
            color: #fff;
            position: absolute;
            text-align: center;
            left: 37.9%;
            top: -7.2rem;
            padding: 3.4rem 0 1.7rem;
            width: 4.7rem;
            font-size: 0.7rem;
            min-height: 6.7rem;
            @media @desk {
                left: -13.2%;
                top: -3.6rem;
                padding: 7.3rem 0;
                width: 10.6rem;
                font-size: 1.7rem;
                min-height: 18.3rem;
            }
        }
        &__title {
            color: @main;
            font-size: 1rem;
            text-align: center;
            @media @desk {
                text-align: left;
                font-size: 2.1rem;
            }
        }
        &__list {
            padding: 0.8rem 0;
            margin: 0;
            list-style-type: none;
            @media @desk {
                padding: 1rem 0;
            }
        }
        &__item {
            display: block;
            position: relative;
            padding: 0 0 0 1rem;
            font-size: 0.9rem;
            @media @desk {
                padding: 0 0 0 1.7rem;
                font-size: 2.1rem;
            }
            &:before {
                content: '';
                position: absolute;
                border-radius: 50%;
                width: 3px;
                height: 3px;
                top: 0.5rem;
                left: 0.3rem;
                background-color: @main;
                border: solid 1px @text;
                @media @desk {
                    top: 1rem;
                    left: 0.2rem;
                    width: 6px;
                    height: 6px;
                }
            }
        }
    }
    &-actions {
        padding: 0rem 4.5rem;
        @media @desk {
            padding: 0.9rem 4.5rem;
        }
        @media @desk {
            padding: 0.9rem 4.5rem;
        }
        &__title {
            font-size: 1rem;
            text-align: center;
            @media @desk {
                text-align: left;
                font-size: 2.6rem;
            }
        }
        &__wrap {
            &--citybee {}
            &--taxify {}
        }
        &__logo {
            padding: 0.3rem 0 0.5rem;
            text-align: center;
            @media @desk {
                padding: 0.3rem 0 0.8rem;
            }
            svg {
                width: 5.4rem;
                height: 2.8rem;
                @media @desk {
                    width: 12rem;
                    height: 6.7rem;
                }
            }
            @media @desk {
                padding: 2.3rem 0 0.8rem;
                text-align: left;
            }
            &--citybee {}
            &--taxify {
                padding: 1.7rem 0 0rem;
                @media @desk {
                    padding: 1.2rem 0 1rem;
                }
            }
        }
        &__blocks {
            margin: 0 -2rem;
            @media @desk {
                margin: 0 -5.4rem;
            }
            &--citybee {}
            &--taxify {
                margin: 0 -3.4rem;
                @media @desk {
                    margin: 0 -7.5rem;
                }
            }
        }
        &__block {
            padding: 0 0.8rem 1rem;
            text-align: center;
            float: left;
            width: 50%;
            @media @desk {
                width: 25%;
                padding: 0 0.8rem;
            }
            &--citybee {}
            &--taxify {
                width: 33%;
                padding: 0 0.4rem;
                @media @desk {
                    padding: 0 3.9rem;
                }
            }
        }
        &__number {
            display: inline-block;
            border-radius: 50%;
            background-color: @main;
            color: #fff;
            font-weight: 700;
            font-family: 'Harabara';
            font-size: 1.3rem;
            width: 2.1rem;
            height: 2.1rem;
            padding-top: 0.4rem;
            @media @desk {
                font-size: 2.9rem;
                width: 4rem;
                height: 4rem;
                padding-top: 0.4rem;
            }
            &--citybee {}
            &--taxify {
                width: 1.8rem;
                height: 1.8rem;
                padding-top: 0.2rem;
                font-size: 1.1rem;
                vertical-align: top;
                @media @desk {
                    font-size: 2.9rem;
                    padding: 0.6rem;
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
        &__text {
            font-size: 0.8rem;
            padding: 0.4rem 0 0.2rem;
            min-height: 4.1rem;
            @media @desk {
                font-size: 1.5rem;
                padding: 1.1rem 0 0.2rem;
                min-height: 12rem;
            }
            &--citybee {}
            &--taxify {
                min-height: 4.3rem;
                text-align: left;
                font-size: 0.6rem;
                padding: 0rem 0 0.2rem;
                @media @desk {
                    padding: 1.1rem 0 0.2rem;
                    min-height: 12.3rem;
                    text-align: left;
                    font-size: 1.8rem;
                }
            }
        }
        &__img {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 0%;
            padding-top: 165.5%;
            &--citybee {}
            &--taxify {
                background-position: 0% 0%;
                padding-top: 180%;
            }
        }
        &__footnote {
            font-size: 0.8rem;
            margin: 0.7rem -2.8rem 0rem -2.8rem;
            @media @desk {
                font-size: 2.3rem;
                margin: 2.2rem -4rem 0rem -4rem;
            }
        }
    }
    &-footer {
        padding: 1.1rem 6.1rem 4rem;
        text-align: center;
        @media @desk {
            text-align: left;
            padding: 5.2rem 2.2rem;
        }
        &__title {
            text-align: left;
            font-size: 0.9rem;
            @media @desk {
                font-size: 3.5rem;
            }
        }
        &__footnote {
            text-align: left;
            color: @main;
            padding: 0rem 0 1.6rem 0;
            font-size: 0.7rem;
            @media @desk {
                font-size: 2.1rem;
                padding: 2.2rem 0;
            }
        }
        &__btn {
            @media @desk {
                position: absolute;
                right: 0;
                top: 4.8rem;
            }
        }
    }
}
////// GENERAL OBJECTS END ////////////
///////////////////////////////////////
///////////////////////////////////////
////// UTILITIES START ////////////////
///////////////////////////////////////
.tx-clear {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.mob-hide {
    display: none;
    @media @desk {
        display: initial;
    }
}
.desk-hide {
    @media @desk {
        display: none;
    }
}
////// UTILITIES END //////////////////
///////////////////////////////////////
////// IE HACKS START /////////////////
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}
////// IE HACKS END ///////////////////
///////////////////////////////////////
////// UTILITIES END //////////////////
///////////////////////////////////////
////// IE HACKS START /////////////////
